In [3]:
# Install libraries
import pandas as pd
import numpy as np

In [2]:
%%time
df_Expedia = pd.read_csv('train.csv',nrows=18000000)

Wall time: 1min 3s

In [3]:
df_Expedtest = pd.read_csv('test.csv', nrows=18000000)

In [2]:
df_Expedia.shape

NameError: name 'df_Expedia' is not defined

In [5]:
df_Expedtest.shape

(2528243, 22)

In [6]:
# Using describe, info, and head is the best way to get a sense of the data
df_Expedia.describe()

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
count,1.800000e+07,1.800000e+07,1.800000e+07,1.800000e+07,1.800000e+07,1.151261e+07,1.800000e+07,1.800000e+07,1.800000e+07,1.800000e+07,...,1.800000e+07,1.800000e+07,1.800000e+07,1.800000e+07,1.800000e+07,1.800000e+07,1.800000e+07,1.800000e+07,1.800000e+07,1.800000e+07
mean,9.759269e+00,2.677099e+00,8.590398e+01,3.081922e+02,2.774769e+04,1.976863e+03,6.028792e+05,1.349326e-01,2.491384e-01,5.867341e+00,...,3.318828e-01,1.112663e+00,1.443430e+04,2.580869e+00,7.970067e-02,1.483302e+00,3.156896e+00,8.125866e+01,6.006906e+02,4.982510e+01
std,1.193174e+01,7.508913e-01,5.902893e+01,2.088002e+02,1.679478e+04,2.239897e+03,3.492802e+05,3.416516e-01,4.325141e-01,3.717709e+00,...,7.309532e-01,4.581078e-01,1.106191e+04,2.152580e+00,2.708292e-01,1.222423e+00,1.624264e+00,5.609294e+01,5.120848e+02,2.891369e+01
min,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.600000e-03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.000000e+00,6.600000e+01,1.740000e+02,1.294900e+04,3.135212e+02,2.976330e+05,0.000000e+00,0.000000e+00,2.000000e+00,...,0.000000e+00,1.000000e+00,8.267000e+03,1.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,5.000000e+01,1.600000e+02,2.500000e+01
50%,2.000000e+00,3.000000e+00,6.600000e+01,3.120000e+02,2.765500e+04,1.145218e+03,6.019510e+05,0.000000e+00,0.000000e+00,9.000000e+00,...,0.000000e+00,1.000000e+00,9.147000e+03,1.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,5.000000e+01,5.950000e+02,4.900000e+01
75%,1.300000e+01,3.000000e+00,7.000000e+01,3.850000e+02,4.250000e+04,2.557988e+03,9.070760e+05,0.000000e+00,0.000000e+00,9.000000e+00,...,0.000000e+00,1.000000e+00,1.879000e+04,5.000000e+00,0.000000e+00,2.000000e+00,4.000000e+00,1.060000e+02,7.010000e+02,7.300000e+01
max,5.300000e+01,4.000000e+00,2.390000e+02,1.027000e+03,5.650700e+04,1.240790e+04,1.198785e+06,1.000000e+00,1.000000e+00,1.000000e+01,...,9.000000e+00,8.000000e+00,6.510400e+04,9.000000e+00,1.000000e+00,2.610000e+02,6.000000e+00,2.120000e+02,2.117000e+03,9.900000e+01

In [7]:
df_Expedtest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2528243 entries, 0 to 2528242
Data columns (total 22 columns):
 #   Column                     Dtype
---  ------                     -----
 0   id                         int64
 1   date_time                  object
 2   site_name                  int64
 3   posa_continent             int64
 4   user_location_country      int64
 5   user_location_region       int64
 6   user_location_city         int64
 7   orig_destination_distance  float64
 8   user_id                    int64
 9   is_mobile                  int64
 10  is_package                 int64
 11  channel                    int64
 12  srch_ci                    object
 13  srch_co                    object
 14  srch_adults_cnt            int64
 15  srch_children_cnt          int64
 16  srch_rm_cnt                int64
 17  srch_destination_id        int64
 18  srch_destination_type_id   int64
 19  hotel_continent            int64
 20  hotel_country              int64
 21  hotel_market               int64
dtypes: float64(1), int64(18), object(3)
memory usage: 424.4+ MB

In [8]:
df_Expedia.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
2,2014-08-11 08:24:33,2,3,66,348,48862,2234.2641,12,0,0,...,0,1,8250,1,0,1,2,50,628,1
3,2014-08-09 18:05:16,2,3,66,442,35390,913.1932,93,0,0,...,0,1,14984,1,0,1,2,50,1457,80
4,2014-08-09 18:08:18,2,3,66,442,35390,913.6259,93,0,0,...,0,1,14984,1,0,1,2,50,1457,21

In [9]:
df_Expedtest.head()

,id,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,hotel_continent,hotel_country,hotel_market
0,0,2015-09-03 17:09:54,2,3,66,174,37449,5539.0567,1,1,...,2016-05-19,2016-05-23,2,0,1,12243,6,6,204,27
1,1,2015-09-24 17:38:35,2,3,66,174,37449,5873.2923,1,1,...,2016-05-12,2016-05-15,2,0,1,14474,7,6,204,1540
2,2,2015-06-07 15:53:02,2,3,66,142,17440,3975.9776,20,0,...,2015-07-26,2015-07-27,4,0,1,11353,1,2,50,699
3,3,2015-09-14 14:49:10,2,3,66,258,34156,1508.5975,28,0,...,2015-09-14,2015-09-16,2,0,1,8250,1,2,50,628
4,4,2015-07-17 09:32:04,2,3,66,467,36345,66.7913,50,0,...,2015-07-22,2015-07-23,2,0,1,11812,1,2,50,538

In [11]:
# Three columns have nulls
df_Expedia.isnull().sum()

date_time                          0
site_name                          0
posa_continent                     0
user_location_country              0
user_location_region               0
user_location_city                 0
orig_destination_distance    6487386
user_id                            0
is_mobile                          0
is_package                         0
channel                            0
srch_ci                        22343
srch_co                        22345
srch_adults_cnt                    0
srch_children_cnt                  0
srch_rm_cnt                        0
srch_destination_id                0
srch_destination_type_id           0
is_booking                         0
cnt                                0
hotel_continent                    0
hotel_country                      0
hotel_market                       0
hotel_cluster                      0
dtype: int64

In [14]:
# Here I get rid of the null values
df_Expedia = df_Expedia.dropna(axis=0)

In [16]:
df_Expedia.isnull().sum()

date_time                    0
site_name                    0
posa_continent               0
user_location_country        0
user_location_region         0
user_location_city           0
orig_destination_distance    0
user_id                      0
is_mobile                    0
is_package                   0
channel                      0
srch_ci                      0
srch_co                      0
srch_adults_cnt              0
srch_children_cnt            0
srch_rm_cnt                  0
srch_destination_id          0
srch_destination_type_id     0
is_booking                   0
cnt                          0
hotel_continent              0
hotel_country                0
hotel_market                 0
hotel_cluster                0
dtype: int64

In [17]:
df_Expedia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11499537 entries, 0 to 17999999
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   date_time                  object
 1   site_name                  int64
 2   posa_continent             int64
 3   user_location_country      int64
 4   user_location_region       int64
 5   user_location_city         int64
 6   orig_destination_distance  float64
 7   user_id                    int64
 8   is_mobile                  int64
 9   is_package                 int64
 10  channel                    int64
 11  srch_ci                    object
 12  srch_co                    object
 13  srch_adults_cnt            int64
 14  srch_children_cnt          int64
 15  srch_rm_cnt                int64
 16  srch_destination_id        int64
 17  srch_destination_type_id   int64
 18  is_booking                 int64
 19  cnt                        int64
 20  hotel_continent            int64
 21  hotel_country              int64
 22  hotel_market               int64
 23  hotel_cluster              int64
dtypes: float64(1), int64(20), object(3)
memory usage: 2.1+ GB

In [18]:
df_Expedia.describe()

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
count,1.149954e+07,1.149954e+07,1.149954e+07,1.149954e+07,1.149954e+07,1.149954e+07,1.149954e+07,1.149954e+07,1.149954e+07,1.149954e+07,...,1.149954e+07,1.149954e+07,1.149954e+07,1.149954e+07,1.149954e+07,1.149954e+07,1.149954e+07,1.149954e+07,1.149954e+07,1.149954e+07
mean,6.149856e+00,2.900635e+00,8.756526e+01,3.115097e+02,2.802762e+04,1.976857e+03,5.956916e+05,1.360986e-01,2.435745e-01,6.001998e+00,...,3.494581e-01,1.104007e+00,1.436995e+04,2.625164e+00,8.247915e-02,1.475352e+00,2.892690e+00,7.400623e+01,6.203864e+02,4.993308e+01
std,8.902438e+00,5.441195e-01,5.430454e+01,1.446685e+02,1.656328e+04,2.239877e+03,3.422164e+05,3.428933e-01,4.292388e-01,3.728800e+00,...,7.549551e-01,4.329343e-01,1.077148e+04,2.165520e+00,2.750933e-01,1.192272e+00,1.497728e+00,5.357618e+01,4.753361e+02,2.913425e+01
min,2.000000e+00,0.000000e+00,0.000000e+00,1.350000e+02,0.000000e+00,5.600000e-03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.000000e+00,6.600000e+01,1.740000e+02,1.465600e+04,3.135339e+02,3.010110e+05,0.000000e+00,0.000000e+00,2.000000e+00,...,0.000000e+00,1.000000e+00,8.267000e+03,1.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,5.000000e+01,2.450000e+02,2.500000e+01
50%,2.000000e+00,3.000000e+00,6.600000e+01,3.210000e+02,2.765500e+04,1.145199e+03,5.931640e+05,0.000000e+00,0.000000e+00,9.000000e+00,...,0.000000e+00,1.000000e+00,1.131900e+04,1.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,5.000000e+01,6.280000e+02,4.900000e+01
75%,2.000000e+00,3.000000e+00,6.600000e+01,3.630000e+02,4.302600e+04,2.557964e+03,8.910140e+05,0.000000e+00,0.000000e+00,9.000000e+00,...,0.000000e+00,1.000000e+00,1.784500e+04,5.000000e+00,0.000000e+00,2.000000e+00,4.000000e+00,7.700000e+01,7.010000e+02,7.300000e+01
max,5.300000e+01,4.000000e+00,2.150000e+02,1.021000e+03,5.650700e+04,1.240790e+04,1.198784e+06,1.000000e+00,1.000000e+00,1.000000e+01,...,9.000000e+00,8.000000e+00,6.510400e+04,9.000000e+00,1.000000e+00,1.130000e+02,6.000000e+00,2.120000e+02,2.117000e+03,9.900000e+01

In [12]:
df_Hotel2 = df_Hotel1[['orig_destination_distance','user_location_country','user_location_region','user_location_city',
                      'srch_destination_id','hotel_continent','hotel_country','is_mobile','is_package','channel',
                      'srch_children_cnt','srch_rm_cnt','srch_destination_id','srch_destination_type_id','hotel_continent',
                      'hotel_country','hotel_market']]

In [13]:
del df_Hotel1

In [14]:
# Install libraries for clustering
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import MiniBatchKMeans

In [15]:
# Standardize the features matrix
features = StandardScaler().fit_transform(df_Hotel2)

In [16]:
del df_Hotel2

In [17]:
# Create a PCA that will retain 99% of variance
pca = PCA(n_components=0.99, whiten=True)

In [18]:
# Here is where I conduct PCA to try and reduce the number of features
features_pca = pca.fit_transform(features)

In [19]:
print("Original number of features:", features.shape[1])
print("Reduced number of features:", features_pca.shape[1])

Original number of features: 17
Reduced number of features: 14

In [20]:
cluster = MiniBatchKMeans(n_clusters=3,random_state=0,batch_size=100)

In [21]:
model = cluster.fit(features)

In [22]:
# Not sure where I go from here
model

MiniBatchKMeans(n_clusters=3, random_state=0)

In [24]:
pd.DataFrame(features_pca)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-0.511698,-0.889938,0.020706,1.047538,-0.807419,-0.476867,-0.056287,1.162258,-0.718847,0.072718,0.364931,-1.069467,0.822533,-0.460672
1,-0.511698,-0.889938,0.020706,1.047538,-0.807419,-0.476867,-0.056287,1.162258,-0.718847,0.072718,0.364931,-1.069467,0.822533,-0.460672
2,-0.570242,-0.545383,-0.299774,0.983832,-0.199230,-0.670010,0.540649,0.138863,-0.059341,0.429210,-1.008682,-0.518275,0.712139,0.589205
3,-0.704899,0.058852,-0.201471,0.466490,-1.154375,0.957361,1.449618,0.206514,-0.194011,-0.040793,-0.550762,0.530993,-0.057059,0.943876
4,-0.704861,0.058844,-0.201452,0.466525,-1.154372,0.957344,1.449638,0.206490,-0.193952,-0.040804,-0.550733,0.531041,-0.056875,0.943843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11979333,0.798307,0.065219,-2.742486,-1.041039,-0.298431,-0.090499,-0.256541,-1.586342,-1.646225,0.061004,0.998490,0.427121,-0.656766,0.835234
11979334,0.798307,0.065219,-2.742486,-1.041039,-0.298431,-0.090499,-0.256541,-1.586342,-1.646225,0.061004,0.998490,0.427121,-0.656766,0.835234
11979335,0.796224,1.274307,-2.700318,-1.196446,-1.237359,0.946070,0.410855,0.053840,-1.842319,-0.192128,0.612118,1.492939,-0.168161,1.445819
11979336,0.748489,-0.361367,-3.048998,-1.391484,0.453466,-1.471982,-0.322223,-0.271132,0.118100,0.148176,0.533847,0.355418,-1.219157,-0.516200
11979337,0.748489,-0.361367,-3.048998,-1.391484,0.453466,-1.471982,-0.322223,-0.271132,0.118100,0.148176,0.533847,0.355418,-1.219157,-0.516200